
<main id="main" class="main">
    <div class="pagetitle">
       <h1>Form Layouts</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Modif</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Modifier ce contrat</h5>
                <form class="row g-3" #form="ngForm">
                    <div class="col-md-12"> <input type="text" class="form-control" placeholder="cin" name="cin" [(ngModel)]="contrat.ref" #id=ngModel required></div>
                    <div class="alert alert-danger"*ngIf="id.invalid && id.touched">
                        <div *ngIf="id.errors?.required"> Entrez la reference du vehicule</div>
                    </div>
                    <div class="col-md-12"> <input type="text" class="form-control" placeholder="Nom" name="nom"[(ngModel)]="contrat.date_deb_location" required #nom=ngModel></div>
                    <div class="alert alert-danger"*ngIf="nom.invalid && nom.touched">
                        <div *ngIf="id.errors?.required"> Entrez la date de debut de la location</div>
                    </div>
                    <div class="col-md-12"> <input type="text" class="form-control" placeholder="Prenom" name="prenom"[(ngModel)]="contrat.date_fin_location"></div>
                    <div class="col-md-12"> <input type="email" class="form-control" placeholder="Email" name="email"[(ngModel)]="contrat.etatVehicule" #email=ngModel required></div>
                    <div class="alert alert-danger"*ngIf="email.invalid && email.touched">
                        <div *ngIf="email.errors?.required"> Entrez la date de fin de la location</div>
                    </div>  
                    <!-- <div class="col-md-2"> <input type="text" class="form-control" placeholder="Zip"></div> -->
                    <div class="text-center"> <button type="submit" class="btn btn-primary"[disabled]="form.invalid" (click)="update()">Submit</button> <button type="reset" class="btn btn-secondary">Reset</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>
 </section>
</main>