<main id="main" class="main">
    <div class="pagetitle">
       <h1>Liste des clients</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">contrats</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Datatables</h5>
                   <a [routerLink]="['/gestion-location/contrat/add']">Ajouter un Contrat de location</a>
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">reference</th>
                            <th scope="col">etat du vehicule</th>
                            <th scope="col">date debut location</th>
                            <th scope="col">date fin location</th>
                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor = "let contrat of contrats">
                            <td>{{ contrat.ref }}</td>
                            <td>{{ contrat.etatVehicule }}</td>
                            <td>{{ contrat.date_deb_location }}</td>
                            <td>{{ contrat.date_fin_location }}</td>
                            <td>
                                <div class="row">
                                    <a class="col-md-3" [routerLink]="['/gestion-location/contrat/edit/', contrat.ref]"><i class="ri-edit-box-fill icon edit"></i></a>
                                    <button class="col-md-3 ri-delete-bin-2-fill icon delete" (click)="delete(contrat.ref)">  </button>
                                </div>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
