
<main id="main" class="main">
    <div class="pagetitle">
       <h1>Form Layouts</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Modif</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Modifierles données de cet employé</h5>
                <form class="row g-3" #form="ngForm">
                    <div class="col-md-12"> <input type="number" class="form-control" placeholder="cin"  name="cin" [(ngModel)]="user.cin" #id=ngModel required pattern="[0-9]+$"></div>
                    <div class="alert alert-danger"*ngIf="id.invalid && id.touched">
                        <div *ngIf="id.errors?.required"> Entrez votre Cin</div>
                        <div *ngIf="id.errors?.pattern">Entrez 8 chiffres de 0 à 9</div>
                    </div>
                    <div class="col-md-12"> <input type="text" class="form-control" placeholder="Nom" name="nom"[(ngModel)]="user.nom" required #nom=ngModel></div>
                    <div class="alert alert-danger"*ngIf="nom.invalid && nom.touched">
                        <div *ngIf="id.errors?.required"> Entrez votre Nom</div>
                    </div>
                    <div class="col-md-12"> <input type="text" class="form-control" placeholder="Prenom" name="prenom"[(ngModel)]="user.prenom"></div>
                    <div class="col-md-12"> <input type="email" class="form-control" placeholder="Email" name="email"[(ngModel)]="user.email" #email=ngModel required pattern="[a-z0-9-.]+@[a-z-]+\.[a-z]{2,3}$"></div>
                    <div class="alert alert-danger"*ngIf="email.invalid && email.touched">
                        <div *ngIf="email.errors?.required"> Entrez votre Email</div>
                        <div *ngIf="email.errors?.pattern">Email doit être sous le format exemple@exemple.exemple.com</div>
                    </div>  
                    <div class="col-md-6"> <input type="password" class="form-control" placeholder="Mot de passse" name="mdp"[(ngModel)]="user.mdp" #mdp=ngModel required></div>
                    <div class="alert alert-danger"*ngIf="mdp.invalid && mdp.touched">
                        <div *ngIf="mdp.errors?.required"> Entrez votre mot de passe</div>
                    </div>
                    <!-- <div class="col-md-6"> <input type="password" class="form-control" placeholder="Confirmation de Mot de passse" name="mdp"[(ngModel)]="user.mdp" #mdp=ngModel required></div>
                    <div class="alert alert-danger"*ngIf="mdp.invalid && mdp.touched">
                        <div *ngIf="mdp.errors?.required"> Entrez votre mot de passe</div>
                    </div> -->
                    <div class="col-12"> <input type="text" class="form-control" placeholder="Adresse" name="adresse"[(ngModel)]="user.adresse"></div>
                    <div class="col-md-6"> <input type="number" class="form-control" placeholder="Telephone" name="tel"[(ngModel)]="user.tel" #tel=ngModel required pattern="[0-9]+$" minlength="8" maxlength="8"></div>
                    <div class="alert alert-danger"*ngIf="tel.invalid && tel.touched">
                        <div *ngIf="tel.errors?.required"> Entrez votre numéro de telephone</div>
                        <div *ngIf="tel.errors?.pattern">Entrez 8 chiffres de 0 à 9</div>
                    </div>
                    <div class="col-md-6">
                        <select id="inputState" class="form-select" [(ngModel)]="user.cin">
                            <option selected>Role</option>
                            <option>Admin</option>
                            <option>Employe</option>
                        </select>
                    </div>
                    <!-- <div class="col-md-2"> <input type="text" class="form-control" placeholder="Zip"></div> -->
                    <div class="text-center"> <button type="submit" class="btn btn-primary"[disabled]="form.invalid" (click)="update()">Submit</button> <button type="reset" class="btn btn-secondary">Reset</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>
 </section>
</main>